.youtube_trailer_container {
  width: min(100%, 1000px);
  margin: 0 auto;
}

.youtube_trailer_container a {
  text-decoration: none;
}

.youtube_trailer_buttons {
  display: flex;
  justify-content: space-between;
}

.youtube_trailer_buttons div {
  display: inline-block;
  margin: 20px 0;
  width: 130px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  outline: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.5);
  font-size: 1rem;
  transition: all 0.2s;
}

.youtube_trailer_buttons div:hover {
  text-decoration: none;
  border: 2px solid black;
  color: black;
  background-color: white;
  transition: all 0.2s;
}
