* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0.25turn, rgb(72, 30, 104), rgb(23, 54, 108));
  /* background-color: #141414; */
  color: white;
}

.App {
  background-color: #141414;
  color: white;
}
